html{
    background-color: #112432;
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
div{
    display: grid;
    align-content: center;
    gap: 10px;
}
h2{
    font-size: 2em;
    margin-bottom: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
/* GridSetup */
.mainBox{
    grid-template-columns: 1fr;
}

.boxHeader{
    grid-template-columns: minmax(100px,1fr) minmax(100px,10fr) minmax(100px,1fr);
    background-color: #5e7783;
    color: #d0d1d3;
    
}
.boxHeader h2{
    text-decoration: underline;
    
}
.sectionHeader{
    grid-column-start: 2;
    gap:0;
}

/* Section 1 */
#overview{
    grid-template-rows: minmax(50px,10vh) minmax(100px,80vh) 50px;
}

.header {
    grid-template-columns: minmax(100px,1fr) minmax(100px,10fr) minmax(100px,1fr);
    background-color: #5e7783;
    color: #112432;
}

img{
    max-width: 100%;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
} 

#logo {
    grid-column-start: 3;
}

.intro {
    grid-template-columns: 1fr;
    gap: 1rem;
    place-items: center;
}

#coverPhoto{
    max-width: 500px;
}

.bar{
    background-color: #4d1635;
    grid-row-start: 3;
    height: 50px;
}

/* Experience */
