html{
    background-color: #112432;
}
body{
    margin: 0;
}
div{
    display: grid;
    align-content: center;
}
* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.overview{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50px,15vh) minmax(100px,80vh) minmax(50px,10vh);
}
.header {
    display: grid;
    grid-template-columns: minmax(100px,1fr) minmax(100px,10fr) minmax(100px,1fr);
    gap: 10px;
    background-color: #5e7783;
    color: #112432;
}
img{
    max-width: 100%;
} 

#warning{
    text-align: center;
    text-decoration-line: underline;
}

#logo {
    grid-column-start: 3;
}

.intro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    place-items: center;
}

#coverPhoto{
    max-width: 500px;
}

.bar{
    background-color: #4d1635;
    grid-row-start: 3;
    height: 50px;
}